<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Client List</h4>
            
                <!-- <h5 class="card-subtitle text-muted">Admin Only Privilige</h5>-->
                <ng-template #modalAddClient let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Add New Client</h4>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="name">First Name</label>
                                <div class="form-group">
                                    <input id="name" class="form-control" [(ngModel)]="client.name" name="dp" />

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="last_name">Last Name</label>
                                <div class="form-group">
                                    <input id="last_name" class="form-control" [(ngModel)]="client.last_name"
                                        name="dp" />

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="tel">Telephone Number</label>
                                <div class="form-group">
                                    <input id="tel" class="form-control" [(ngModel)]="client.tel" type="number"
                                        name="dp" />

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <div class="form-group">
                                    <input id="email" type="email" class="form-control" [(ngModel)]="client.email"
                                        name="dp" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <div class="form-group">
                                    <textarea id="address" class="form-control" [(ngModel)]="client.address"
                                        name="dp"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row-md-7">
                            <button class="btn btn-lg btn btn-rounded btn-success" (click)="saveClient()">Add
                                Client</button>
                            <button type="button" class="btn btn-danger btn-rounded"
                                (click)="modal.close('Save click')">Close</button>
                        </div>
                        <br>
                        <br>
                        <div class="justify-center">
                            <div class="form-group">
                                <div class=" alert show customize-alert fs-5 alert-success fader" *ngIf="submitted">
                                    Client Added successfully!
                                </div>
                            </div>
                        </div>
                        <div class="justify-center">
                            <div class="form-group">
                                <div class="alert show customize-alert fs-5 alert-danger fader" role="alert"
                                    *ngIf="isClientAddFailed">
                                    Client Adding failed: {{ errorMessage }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #modalEditClient let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Edit Client</h4>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="editForm">
                            <div class="mb-3">
                                <label for="_id">ID</label>
                                <div class="form-group">
                                    <input id="_id" class="form-control" [(ngModel)]="clientEdit._id" name="_id" formControlName="_id"  />
                                </div>
                                <div class="mb-3">
                                    <label for="name">First Name</label>
                                    <div class="form-group">
                                        <input id="name" class="form-control" [(ngModel)]="clientEdit.name" name="dp"  formControlName="name"/>

                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="last_name">Last Name</label>
                                <div class="form-group">
                                    <input id="last_name" class="form-control" [(ngModel)]="clientEdit.last_name"
                                        name="last_name" formControlName="last_name" />

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="tel">Telephone Number</label>
                                <div class="form-group">
                                    <input id="tel" class="form-control" [(ngModel)]="clientEdit.tel" type="number"
                                        name="tel"  formControlName="tel"/>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <div class="form-group">
                                    <input id="email" class="form-control" [(ngModel)]="clientEdit.email"
                                        name="email" formControlName="email" />

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <div class="form-group">
                                    <textarea id="address" class="form-control" [(ngModel)]="clientEdit.address"
                                        name="address" formControlName="address"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row-md-7">
                            <button class="btn btn-lg btn btn-rounded btn-success" (click)="updateClient(clientEdit._id,clientEdit)">Edit
                                Client</button>
                            <button type="button" class="btn btn-danger btn-rounded"
                                (click)="modal.close('Save click')">Close</button>
                        </div>

                        <div class="justify-center" *ngIf="submitted">
                            <div class="form-group">
                                <div class=" alert show customize-alert fs-5 alert-success fader" >
                                    Client Updated successfully!
                                </div>
                            </div>
                        </div>
                        <div class="justify-center">
                            <div class="form-group">
                                <div class="alert show customize-alert fs-5 alert-danger fader" role="alert"
                                    *ngIf="isClientAddFailed">
                                    Client Adding failed: {{ errorMessage }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div class="custom-flex">
                <button class="btn btn-lg btn btn-rounded btn-primary" (click)="open(modalAddClient)">Add
                    Client</button>    
                    <input class="form-control custom-width" type="text" name="search" [(ngModel)]="searchText" size="10%" autocomplete="off" placeholder="Search ">
                </div>
                    <div class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <!--<th class="text-dark font-medium fs-4">ID</th> -->
                                <th class="text-dark font-medium fs-4">Name</th>
                                <th class="text-dark font-medium fs-4">Last Name</th>
                                <th class="text-dark font-medium fs-4">Phone Number</th>
                                <th class="text-dark font-medium fs-4">Email</th>
                                <th class="text-dark font-medium fs-4">Address</th>
                                <th class="text-dark font-medium fs-4">Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let cl of clientGet | filter:searchText let i = index; ' [class.active]="i == currentIndex"
                                (click)="setActiveClient(client, i)" [currentClient]="currentClient">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!-- <img [src]=ts.image alt="Client" width="45" class="rounded-circle">-->
                                        <div class="ms-3">
                                            <h5 id="id" hidden>{{cl._id}}</h5>
                                            <h5 class="mb-0 font-medium" id="name">{{cl.name}}</h5>
                                        </div>
                                    </div>
                                </td>
                                <td class="fs-4">
                                    <h5 class="mb-0 font-medium" id="last_name">{{cl.last_name}}</h5>
                                </td>
                                <td class="fs-4">
                                    <h5 class="mb-0 font-medium" id="tel">{{cl.tel}}</h5>
                                </td>
                                <td class="fs-4">
                                    <h5 class="mb-0 font-medium" id="tel">{{cl.email}}</h5>
                                </td>
                                <td class="fs-4">
                                    <h5 class="mb-0 font-medium" id="address">{{cl.address}}</h5>
                                </td>
                                <td>
                                    <button class="btn btn-lg btn btn-rounded btn-success"
                                        (click)="openEdit(modalEditClient,cl)">Edit</button>
                                    <button class="btn btn-lg btn btn-rounded btn-danger"
                                        (click)="deleteClient(cl._id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>