<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-center px-2 py-3 navbar-expand-lg" 
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-center" 
  >
    <div
      class="center w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      >
        <img
          alt="..."
          style="
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: center;
          "
          src="assets/img/LOGOV2.png"
        />
        
    </a>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
